// ## Colors
// ### Primary

$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);

// ### Neutral

$DarkGrayishRed: hsl(0, 6%, 24%);

// ### Gradients

$degree : 135deg;
$pink: hsl(0, 80%, 86%);
$pinkred: hsl(0, 74%, 74%);

$white : hsl(0, 0%, 100%);
$whitegray:hsl(0, 100%, 98%);


// ## Typography
// ### Body Copy

$fontSize16: 16px;
